includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - Modules
        - app

    # The level 9 is the highest level
    level: 3

    excludePaths:
        - ./*/*/FileToBeExcluded.php
        - vendor/*
        - vendor-bin/*

    checkMissingIterableValueType: false
