/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

* {
    margin: 0
}

html, body {
    height: fit-content;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%
}

input, button, textarea, select {
    font: inherit
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word
}

#root, #__next {
    isolation: isolate
}

*:where(:not(iframe,canvas,img,svg,video):not(svg *,symbol *)) {
    //all: unset;
    display: revert
}

*, *::before, *::after {
    box-sizing: border-box
}

a, button {
    cursor: revert
}

ol, ul, menu {
    list-style: none
}

table {
    border-collapse: collapse
}

textarea {
    white-space: revert
}

meter {
    -webkit-appearance: revert;
    appearance: revert
}

::placeholder {
    color: unset
}

:where([hidden]) {
    display: none
}

:where([contenteditable]) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space
}

:where([draggable="true"]) {
    -webkit-user-drag: element
}
